.rollable{
	cursor: var(--mytab_cursor_) !important
} 
.input[type="checkbox" i]{
	cursor: var(--mytab_cursor_yellow), default !important;
} 
.Label{
	cursor: var(--mytab_cursor_yellow), default !important;
	padding: 5px;
}
#chat-controls .chat-control-icon {
    flex: 0;
    flex-basis: auto;
}
.fa-stopwatch:before {
    content: "\f2f2";
    margin-right: 5px;
}
:root {
	/*other cursors */
  --mytab_cursor_glowing: url("../modules/mytab/cursors/glowing.png");
  --mytab_cursor_blue-jelly: url("../modules/mytab/cursors/blue-jelly.png");
  --mytab_cursor_brawl: url("../modules/mytab/cursors/brawl.png");
  --mytab_cursor_infinity: url("../modules/mytab/cursors/infinity.png");
  --mytab_cursor_pixel-sword: url("../modules/mytab/cursors/pixel-sword.png");
  --mytab_cursor_poly_green: url("../modules/mytab/cursors/poly_green.png");
  --mytab_cursor_poly_blue: url("../modules/mytab/cursors/poly_blue.png");
  --mytab_cursor_poly_red: url("../modules/mytab/cursors/poly_red.png");
  --mytab_cursor_stone-age: url("../modules/mytab/cursors/stone-age.png");
  --mytab_cursor_oxychrome: url("../modules/mytab/cursors/oxychrome.cur");
  --mytab_cursor_oxyblue: url("../modules/mytab/cursors/oxyblu.cur");
  --mytab_cursor_oxybrown: url("../modules/mytab/cursors/oxybrown.cur");
  --mytab_cursor_oxyblack: url("../modules/mytab/cursors/oxyblack.cur");
  --mytab_cursor_runescape: url("../modules/mytab/cursors/runescape.cur");
  
    --mytab_cursor_wow: url("../modules/mytab/cursors/wow.cur");
    --mytab_cursor_wowarmor: url("../modules/mytab/cursors/wowarmor.cur");
    --mytab_cursor_chrome: url("../modules/mytab/cursors/chrome.cur");
    --mytab_cursor_blue-glow: url("../modules/mytab/cursors/blue-glow.cur");
    --mytab_cursor_zombie: url("../modules/mytab/cursors/zombie.cur");
    --mytab_cursor_leg: url("../modules/mytab/cursors/leg.cur");
    --mytab_cursor_skyrim: url("../modules/mytab/cursors/skyrim.cur");
    --mytab_cursor_wii: url("../modules/mytab/cursors/wii.cur");
    --mytab_cursor_black: url("../modules/mytab/cursors/black.cur");
    --mytab_cursor_green: url("../modules/mytab/cursors/green.cur");
    --mytab_cursor_orange: url("../modules/mytab/cursors/orange.cur");
    --mytab_cursor_purple: url("../modules/mytab/cursors/purple.cur");
    --mytab_cursor_red: url("../modules/mytab/cursors/red.cur");
    --mytab_cursor_white: url("../modules/mytab/cursors/white.cur");
    --mytab_cursor_yellow: url("../modules/mytab/cursors/yellow.cur");
}
canvas#board {
    cursor: inherit !important;
}
#controls .scene-control, #controls .control-tool {
    cursor: inherit !important;
}
select {
    cursor: inherit !important;
}
a {
    cursor: inherit !important;
}
i#Pause-button:active {
    color: #52d952;
}
i#Pause-button:hover {
    color: gold;
}

@keyframes backspin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
@keyframes frontspin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes clock {
    from {
        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0.68, 0.03, 0.6, 1.23);
    }

    to {
        transform: rotate(360deg);
        animation-timing-function: cubic-bezier(0.68, 0.03, 0.6, 1.23);
    }
}
@keyframes breathing {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 0.2;
    }

    100% {
        opacity: 0;
    }
}
@keyframes faderotation {
    0% {
        opacity: 0.02;
        transform: rotate(0deg);
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.02;
        transform: rotate(360deg);
    }
}
@keyframes scaling {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes platform {
    0% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.68, 0.03, 0.6, 1.23);
    }

    50% {
        transform: scale(1.3);
        animation-timing-function: cubic-bezier(0.68, 0.03, 0.6, 1.23);
    }

    100% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.68, 0.03, 0.6, 1.23);
    }
}
@keyframes heartbeat {

    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    60% {
        transform: scale(1);
    }
}